html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #e9f5f9;
    font-family: Roboto, sans-serif;
}

.offset-sm-3.col-sm-3.d-grid button.btn-primary:hover {
    background-color: #e9f5f9;
    color: #007bff;
}

/*.formbold-main-wrapper {

    align-items: center;
    display: flex;
    margin-top: 100px;
    margin-left: 300px;
    width: 700px;
    height: 480px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}*/

.left-container-wrapper {
    background-color: #fff;
    padding: 30px;
    margin-top: 70px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 45%;
    margin-left: 40px;
}

#right-container-wrapper {
    background-color: #fff;
    padding: 30px;
    margin-top: -375px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 35%;
    margin-left: 650px;
    height: 15%;
    margin-bottom: 150px;
}

