@page
@model LifeLink.Pages.SearchModel
@{
	Layout = "~/Pages/Shared/_Layoutlogin.cshtml";
}

<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width-device-width, initial-scale=1.0" />

	<script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="./css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/searcht.css">

	<title>LIFELINK | Welcome</title>

</head>
<body>
	<div class="overall">
		<nav>
			<div class="container">
				<div>
					<img src="./images/logo.png" alt="logo" class="logo" />
					<div class="menu">
						<ul>
							<li>
								<a asp-area="" asp-page="/Index">Home</a>
							</li>
							<li>
								<a asp-area="" asp-page="/About">About</a>
							</li>
							<li>
								<a asp-area="" asp-page="/Search">Browse</a>
							</li>
							<li>
								<a asp-area="" asp-page="/Index">Contact</a>
							</li>
						</ul>
						<ul class="social-media">
							<li>
								<a href="#" class="media-icon">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="#" class="media-icon">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#" class="media-icon">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" class="media-icon">
									<i class="fab fa-pinterest"></i>
								</a>
							</li>
							<li>
								<a asp-area="" asp-page="/Login">
									<i class="fa-solid fa-user"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="menu-btn">
					<a class="btn" asp-area="" asp-page="/Login">
						<i class="fa-solid fa-user"></i>
					</a>
				</div>
			</div>
		</nav>

		<!--	MAIN BODY	-->

		<form method="get">

			<div class="major-conatiner">
				<div class="input-group">
					<input class="form-control" asp-for="SearchTerm" />
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<footer>
		<div class="footer-top">
			<img src="./images/logo.png" alt="logo" class="logo" />
		</div>
		<div class="footer-bottom">
			<div>
				<ul>
					<li>
						<a asp-area="" asp-page="/Index">Home</a>
					</li>
					<li>
						<a asp-area="" asp-page="/About">About</a>
					</li>
					<li>
						<a asp-area="" asp-page="/Search">Browse</a>
					</li>
					<li>
						<a asp-area="" asp-page="/Index">Contact</a>
					</li>
				</ul>
				<p>
					drkst-mttr
					<span class="year"></span>
					All Rights Reserved
				</p>
			</div>
		</div>
	</footer>
</body>
</html>